[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "nextpnr"]
	path = nextpnr
	url = https://github.com/YosysHQ/nextpnr.git
[submodule "openFPGALoader"]
	path = openFPGALoader
	url = https://github.com/trabucayre/openFPGALoader.git
[submodule "src/tangnano_example"]
	path = src/tangnano_example
	url = https://github.com/sifferman/tangnano_example.git
